.feedback-content {
  height: 500px;
  margin: auto;
  max-width: 650px;
  flex-direction: column;
  padding-bottom: 20px;
}

.feedback-content p:first-child {
  margin-bottom: 10px;
}

.feedback-form {
  flex-direction: column;
  width: 100%;
}

.form-up {
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.form-up input {
  width: 180px;
  padding: 5px;
}

.form-down {
  width: 100%;
}

.form-down textarea {
  margin-top: 20px;
  width: 100%;
  height: 200px;
  padding: 5px;
}

.feedback-content .btn {
  position: relative;
  padding: 10px 15px;
  background-color: #00a7cc;
  border-radius: 10px;
  z-index: 1;
  margin-top: 20px;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  box-shadow: 0 1px 5px rgb(165, 165, 165);
}
