.products-content {
  margin: auto;
  max-width: 1020px;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.product {
  border: solid 1px rgb(212, 212, 212);
  border-radius: 10px;
  width: 300px;
  margin: 0 10px 20px;
  text-align: center;
  box-shadow: 0 1px 3px rgb(165, 165, 165);
}

.product img {
  max-width: 240px;
  max-height: 200px;
}

.product-info {
  margin-top: 10px;
}
.product .btn {
  margin: 30px 0 40px;
}

.product .btn a {
  position: relative;
  padding: 10px 15px;
  background-color: #00a7cc;
  border-radius: 10px;
  z-index: 1;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  box-shadow: 0 1px 5px rgb(165, 165, 165);
}
